:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.link:hover, 
.link:focus {
    color: var(--pressed-state);
}

.list {
    list-style-type: none;
}

.logo-first-part {      
    font-family: 'Raleway', sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-second-part {
    font-family: 'Raleway', sans-serif;
    color: var(--dark);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--light);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav:hover,
.menu-nav:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.contacts-header {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    letter-spacing: 0.02em;
}

.contacts-header:hover,
.contacts-header:focus {
    color: var(--pressed-state);
}

.hero-block {
    background-color: var(--dark);
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.hero-button {
    font-family: inherit;
    color: #FFFFFF;
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    border: 0;
    padding: 16px 32px;
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.hero-button:focus,
.hero-button:hover {
    outline: none;
    background-color: var(--pressed-state);
}

.main-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.feature-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature-description {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-block {
    background-color: var(--light);
}

.member-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
}

.member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.member-position {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter {
    font-family: inherit;
    color: var(--primary-brand);
    background-color: var(--light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;
}

.filter:hover,
.filter:focus {
    outline: none;
    background-color: var(--pressed-state);
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.project-description {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-block {
    background-color: var(--dark);
}

.footer-text {
    color: var(--light);
    font-size: 16px;
    font-weight: 1.5;
    letter-spacing: 0.02em;
}

address {
    font-style: normal;
}